footer {
  position: sticky;
  bottom: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 1rem;
}

header {
  padding: 0.5rem 1rem;
}

#bgm-control {
  color: var(--red);
  outline: none;
  margin-left: auto;
}
